*{
    margin: 0;
    padding: 0;
}
.meni{
    position: sticky;
    background-color: beige;
    display: flex;
    padding-left: 10%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 5em;
     
}
.meni>ul {
    list-style-type: none;
    display: flex;
    flex: 3;
    align-items: center;
}
.meni>ul>li{
    display: flex;
    padding-left: 5%;
    
}
.meni>ul>li>a{
    color: #87c9c9;
    text-decoration: none;
}
.meni a:hover{
    background-color: darkcyan;
    border-radius: 10%;
}
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


ul{
    list-style-type: none;
}

.container{
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.kolona{
    padding: 5px;
    margin-top: 5px;
    background-color: rgba(54, 134, 103, 0.8);
    height: 200px;
    flex: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}